body
    font-size 1.08rem
    line-height 1.5rem
    font-feature-settings: "liga" 0;
    font-weight 300
    margin 0
    font-family IBM Plex Mono, Space Grotesk, Roboto Slab, sans-serif
    word-wrap break-word
    background-color #212424
    color #e1e1e1

h1,h2,h3,h4,h5,h6
    line-height 1.3em

a
    cursor pointer
    padding: 2px 1px
    color #64b5f6
    text-decoration none
    border-bottom 1px solid #64b5f6
    background linear-gradient(
       to bottom, #64b5f6 0%,
       #64b5f6 100%
     )
    background-position 0 100%
    background-repeat repeat-x
    background-size 1px 1px
    transition background-size .3s
    &:hover
        background-size 4px 50px
        color #fff

p
    margin 0 0 20px

.container
    max-width 70rem

.container,.container-fluid
    margin 0 auto
    padding 0 1rem

table
    width 100%
    border-collapse collapse
    margin 1.75rem 0
    color #ccc
    thead
        th
            font-weight 700
    tbody
        td
            &:first-child
                font-weight 700
                color #333

table td,table th
    vertical-align top
    border 1px solid #ccc
    line-height 15px
    padding 10px
